.profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  color: #000000;
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f3f4f6;
  border-radius: 8px;
}

.profile-picture {
  margin-bottom: 3rem;
}

.profile-info h1,
.profile-info h2,
.profile-info h2,
.profile-info h2,
.profile-info h2 {
  margin-bottom: 1rem;
}
