<div class="login-background">
  <video #loginVideo autoplay loop muted id="loginVideo">
    <source src="assets/Professional, Corporate, Small Business Stock Footage Highlight Reel.mp4" type="video/mp4">
  </video>

  <div class="login-overlay"></div>
  <div class="loginForm">
    <div class="login-left">
      <h1>Welcome Back to,</h1>
      <img src="/assets/Copy of Reci-.png" alt="TalentSphere Logo" class="login-logo">

    </div>
    <div class="login-right">
      <form (ngSubmit)="login()">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="hello@reallygreatsite.com" name="email" [(ngModel)]="user.email" />
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="****" name="password" [(ngModel)]="user.password"/>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
