<!-- admindashboard.component.html -->
<h1 class="dashboard-title">Dashboard</h1>

<div class="grid-container">
  <!-- Events Table -->
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Events</h5>
    </div>
    <table class="table">
      <tbody>
        <tr *ngFor="let data of events" class="table-row">
          <td class="table-cell">
            <img class="event-image" src="https://images.unsplash.com/photo-1511795409834-ef04bbd61622?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8fA%3D%3D.jpg" alt="Event image">
          </td>
          <th scope="row" class="table-cell">
            {{data.eventName}}
          </th>
          <td class="table-cell">
            {{formatDate(data.eventDate)}}
          </td>
          <td class="table-cell">
            {{formatTime(data.eventDate)}}       
          </td>
        </tr>
        <!-- Additional rows -->
      </tbody>
    </table>
  </div>

<!-- Requests and Activities -->
<div class="grid-2-cols">
  <!-- Requests -->
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Requests</h5>
    </div>
    <div class="flow-root">
      <ul role="list" class="list">
        <li class="list-item" *ngFor="let leaveData of combinedData">
          <div class="item-content">
            <div class="item-image">
              <img class="rounded-full w-8 h-8" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Profile image">
            </div>
            <div class="item-info">
              <p class="item-name">{{ leaveData.fname }} {{ leaveData.lname }}</p>
              <p class="item-subtext">Leave Request</p>
            </div>
            <div class="status-indicator">
              <div class="status-dot" [class.bg-red-500]="leaveData.leaves[0]?.status === 'A'"
                                    [class.bg-green-500]="leaveData.leaves[0]?.status !== 'A'">
              </div>
              <span>{{ leaveData.leaves[0]?.status === 'A' ? 'Closed' : 'Open' }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- Activities -->
 <!-- Activities -->
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Activities</h5>
  </div>
  <div class="flow-root">
    <ul role="list" class="activities-list">
      <li *ngFor="let data of combinedData" class="list-item">
        <div class="item-content">
          <div class="item-image">
            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="image">
          </div>
          <div class="item-info">
            <p class="item-name">{{data.fname}} {{data.lname}}</p>
            <p class="item-subtext">{{data.activity[0]?.projectName}}</p>
          </div>
          <div class="status-indicator">
            <div class="status-dot" [class.bg-green-500]="data.activity[0]?.status === 'N'"
                                  [class.bg-red-500]="data.activity[0]?.status === 'C'">
            </div>
            <span>{{ data.activity[0]?.status === 'N' ? 'Open' : 'Closed' }}</span>
          </div>
        </div>
      </li>       
    </ul>
  </div>
</div>



  <!-- Upcoming Days Off Table -->
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Upcoming Days Off</h5>
      <a href="#" class="view-all-link">View all</a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="table-header">Name</th>
          <th scope="col" class="table-header">Role</th>
          <th scope="col" class="table-header">Date</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of combinedData; let i = index">
          <tr *ngIf="i < 5" class="table-row">
            <th scope="row" class="table-cell">
              {{data.fname}} {{data.lname}}
            </th>
            <td class="table-cell">
              {{data.emplJIfo.jobName}}
            </td>
            <td class="table-cell">
              <div *ngFor="let leav of data.leaves">
                {{formatDate(leav.date)}}
              </div>
            </td>
          </tr>
        </ng-container>
        <!-- Additional rows -->
      </tbody>
    </table>
  </div>
</div>
