.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background: #0f3d61;
  color: white;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  width: 250px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50px;
  margin: 10%;
}

.header-text {
  margin-left: 10%;
  font-weight: bolder;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar-nav {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: #179fab !important;
  color: #f0f0f0;
  transition: color 0.3s ease;
}

.nav-item::after {
  content: '';
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
}

.nav-text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toggle-icon {
  width: 10%;
  height: auto;
}

.sidebar.open .nav-text {
  opacity: 1;
  visibility: visible;
}

.sidebar-nav li a:hover .nav-text {
  opacity: 1;
  visibility: visible;
}

.nav-item svg {
  margin-right: 15%;
}

.navbar {
  display: flex;
  align-items: center;
}

.toggle-button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.toggle-button.active {
  background-color: black;
}

.icon {
  margin-left: 10px;
}

.text {
  margin-left: 10px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.profile-info img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-left: 10px;
}

.profile-info .name,
.profile-info .join-date {
  display: none;
  color: white;
}

.sidebar.open .profile-info .name,
.sidebar.open .profile-info .join-date {
  display: block;
}

.status-button {
  display: none;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: white;
  background-color: #ea5c39;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 30%;
}

.status-button:hover {
  background-color: #179fab;
}

.sidebar.open .status-button {
  display: block;
}

.name {
  font-weight: bolder;
}
