.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  background: #0f3d61;
  color: white;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Added to space out elements */
}

.sidebar.open {
  width: 250px;
}

.sidebar-nav {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: #179fab !important;
  color: #f0f0f0;
  transition: color 0.3s ease;
}

.nav-text {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar.open .nav-text {
  opacity: 1;
  visibility: visible;
}

.sidebar-nav li a:hover .nav-text {
  opacity: 1;
  visibility: visible;
}

.nav-item svg {
  margin-right: 15%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 5%;
}

.sidebar.open .profile-info {
  flex-direction: row;
  justify-content: start;
  margin-left: 1rem;
}

.profile-info img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.profile-info .profile-details {
  display: none;
}

.sidebar.open .profile-info .profile-details {
  display: block;
}

.name {
  font-weight: bolder;
}

.nav-divider {
  border-bottom: 2px solid #fff;
  margin: 0 1rem;
  margin-bottom: 5%;
}

.status-button {
  display: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: white;
  background-color: #ea5c39;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.status-button:hover {
  background-color: #179fab;
}

.sidebar.open .status-button {
  display: block;
}
