<!-- Section 1: Title, Search Bar, and Add Employee Button -->
<div class="container mx-auto">
  <div class="flex justify-between items-center mb-8">
    <h1 class="text-4xl font-medium tracking-tight text-gray-600 dark:text-white">The Employee Directory</h1>
    <div class="flex items-center">
      <form class="max-w-md">
        <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center pl-3">
            <!-- Search icon SVG -->
          </div>
          <input
            type="search"
            class="block w-full pl-10 pr-4 py-2 rounded-lg border border-gray-300 bg-gray-50 focus:border-blue-500"
            placeholder="Search..."
          />
        </div>
      </form>
      <button class="ml-4 bg-[#0F3D61] hover:bg-[#179FAB] text-white font-bold py-2 px-4 rounded" routerLink="/admin-add-employee">Add Employee</button>
    </div>
  </div>
</div>

<!-- Section 2: Employee Cards -->
<div class="container mx-auto">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <!-- Loop through each employee -->
    <div *ngFor="let res of combinedData" class="card">
      <div class="flex flex-col items-center pb-10">
        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Employee Image"/>
        <h5 class="mb-1 text-xl font-medium text-gray-900">{{ res.fname }} {{ res.lname }}</h5>
        <span class="text-sm text-gray-500">{{ res.jobInformation?.jobTitle }}</span>
        <span class="text-sm text-gray-500">{{ res.email }}</span>
        <span class="text-sm text-gray-500">{{ res.phone }}</span>
        <div class="mt-4">
          <button (click)="openProfileDialog(res)" class="px-4 py-2 text-sm font-medium text-white bg-[#0F3D61] rounded-lg">
            View Profile
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
