<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Leave Date</th>
         
          <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        
<!-- res.leaves && res.leaves.status === 'P' -->

        <ng-container *ngFor="let res of combinedData">
          <ng-container *ngFor="let le of res.leaves">
          <ng-container *ngIf="le && le.status === 'P'">
          <tr >
              <td class="w-4 p-4">
                <div class="flex items-center">
                  <input type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                </div>
              </td>

              <td scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                <img class="w-10 h-10 rounded-full" [src]="res.picture" alt="image">
                <div class="ps-3">
                  <div class="text-base font-semibold">{{ res.fname }} {{res.lname}}</div>
                  <div class="font-normal text-gray-500">{{ formatDate(le.date) }}</div>
                </div>
              </td>

              <td class="px-6 py-4">
                <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-2 rounded" (click)="acceptLeaave(le.id)">Accept</button> {{' '}}
                <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-2 rounded" (click)="declineLeave(le.id)">Decline</button>

              </td>
             

           

             
          </tr>
        </ng-container>
        </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
