<h1 class="py-10 mb-2 text-4xl font-medium tracking-tight text-gray-600 dark:text-white">Events</h1>

<!-- pspspspspsps  -->

<div class="flex justify-between py-10" *ngFor="let event of Events" >
  <div class="flex flex-wrap gap-12">
<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
      <img class="rounded-t-lg" src="https://images.unsplash.com/photo-1511795409834-ef04bbd61622?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8fA%3D%3D.jpg" alt="n" />
  </a>
  <div class="p-5">
      <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ event.eventName }}</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">  {{ formatDate(event.eventDate) }} at
        {{ event.eventTime }}</p>
      
           
      
  </div>
</div>
<!-- pspspspspsps  -->


</div>
</div>
