.content-wrapper.sidebar-open .main-content {
  margin-left: 250px; /* Adjust based on the open sidebar width */
}

.main-content {
  transition: margin-left 0.3s ease;
  margin-left: 60px; /* Adjust based on the closed sidebar width */
  transition: margin-left 0.3s ease;
  padding: 4%;
}
