<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">Project Name</th>
        <th scope="col" class="px-6 py-3">Task Name</th>
        <th scope="col" class="px-6 py-3">Checkin time</th>
        <th scope="col" class="px-6 py-3">Check out</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let act of userActivity">
        <td class="px-6 py-4">{{ userData?.fname }} {{ userData?.lname }}</td>
        <td class="px-6 py-4">{{ act.projectName }}</td>
        <td class="px-6 py-4">{{ act.taskName }}</td>
        <td class="px-6 py-4">{{ act.checkinTime }}</td>
        <td class="px-6 py-4">
          <ng-container *ngIf="act.status === 'N'">
            <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-2 rounded" (click)="checkout(act.id)">Check out</button>
          </ng-container>
          <ng-container *ngIf="act.status !== 'N'">
            {{ act.checkoutTime }}
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
