<!-- <p>employee-dash works!</p>
<h2>dghfjhg</h2>

<div class="dashboard-layout">
<div class="dashboard-card-leave">
  <div class="dashboard-header">
    <div>
      <p class="name">Leave Days</p>
    </div>
  </div>
</div>

<div class="dashboard-card-events">
  <div class="dashboard-header">
    <div>
      <p class="name">Events</p>
    </div>
  </div>
  <div class="eventCard">
    <div class="eventCardimg"></div>
    <div class="eventTextBox">
      <div class="eventTextContent">
        <p class="eventH1">Event 1</p>
        <span class="eventSpan">12 min ago</span>
      </div>
      <p class="eventP">Xhattmahs is not attacking your base!</p>
    </div>
  </div>
</div>

<div class="dashboard-card-activities">
  <div class="dashboard-header">
    <div class="image"></div>
    <div>
      <p class="name">Days Off</p>
    </div>
  </div>

  <p class="dashboard-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
    voluptatem alias ut provident sapiente repellendus.
  </p>
</div>

<div class="dashboard-card-daysOff">
  <div class="dashboard-header">
    <div class="image"></div>
    <div>
      <p class="name">Activities</p>
    </div>
  </div>

  <div class="activitiesCard">
    <div class="activitiesCardimg"></div>
    <div class="activitiesTextBox">
      <div class="activitiesTextContent">
        <p class="activitiesH1">Event 1</p>
        <span class="activitiesSpan">12 min ago</span>
      </div>
      <p class="activitiesP">Xhattmahs is not attacking your base!</p>
    </div>
  </div>
  <p class="dashboard-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
    voluptatem alias ut provident sapiente repellendus.
  </p>
</div>

<div class="dashboard-card-myActivity">
  <div class="dashboard-header">
    <div class="image"></div>
    <div>
      <p class="name">My Activity</p>
    </div>
  </div>

  <p class="dashboard-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
    voluptatem alias ut provident sapiente repellendus.
  </p>
</div>
</div> -->

<div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
  <div class="flex items-center justify-between mb-4">
      <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Activity</h5>
      <a href="#" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500">View all</a>
  </div>
  <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li class="py-3 sm:py-4">
              <div class="flex items-center">
                  <div class="flex-shrink-0">
                      <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Neil image">
                  </div>
                  <div class="flex-1 min-w-0 ms-4">
                      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">Neil Sims</p>
                      <p class="text-sm text-gray-500 truncate dark:text-gray-400">email&#64;windster.com</p>
                  </div>
                  <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">$320</div>
              </div>
          </li>

      </ul>
  </div>
</div>
