<p>employee-dash works!</p>
<h2>dghfjhg</h2>

<div class="dashboard-layout">
<div class="dashboard-card-leave">
  <div class="dashboard-header">
    <div>
      <p class="name">Leave Days</p>
    </div>
  </div>
</div>

<div class="dashboard-card-events">
  <div class="dashboard-header">
    <div class="image"></div>
    <div>
      <p class="name">Events</p>
    </div>
  </div>

  <p class="dashboard-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
    voluptatem alias ut provident sapiente repellendus.
  </p>
</div>

<div class="dashboard-card-activities">
  <div class="dashboard-header">
    <div class="image"></div>
    <div>
      <p class="name">Days Off</p>
    </div>
  </div>

  <p class="dashboard-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
    voluptatem alias ut provident sapiente repellendus.
  </p>
</div>

<div class="dashboard-card-daysOff">
  <div class="dashboard-header">
    <div class="image"></div>
    <div>
      <p class="name">Activities</p>
    </div>
  </div>

  <p class="dashboard-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
    voluptatem alias ut provident sapiente repellendus.
  </p>
</div>

<div class="dashboard-card-myActivity">
  <div class="dashboard-header">
    <div class="image"></div>
    <div>
      <p class="name">My Activity</p>
    </div>
  </div>

  <p class="dashboard-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
    voluptatem alias ut provident sapiente repellendus.
  </p>
</div>
</div>