<div class="flex flex-wrap gap-12">

<div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
  <div class="flex items-center justify-between mb-4">
      <h5 class="text-xl font-bold leading-none text-[#0f3d61] dark:text-white">Annual  Leave: 2 Days</h5>
  </div>
</div>

<div class="w-5/6 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
  <div class="flex items-center justify-between mb-4 py-3">
    <h5 class="text-xl font-bold leading-none text-[#0f3d61] dark:text-white">Events</h5>
</div>
<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
  <tbody>
      <tr *ngFor="let event of events" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <img class="rounded w-14 h-14" src="{{event.picture}}" alt="Extra large avatar">
          <th scope="row" class="px-6 py-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{event.eventName}}
          </th>
          <td class="px-6 py-4">
            {{ formatTime(event.eventDate) }}
        </td>
          <td class="px-6 py-4">
            {{ formatDate(event.eventDate) }}
        </td>
      </tr>
     
  </tbody>
</table>
</div>




<!-- <div class="w-2/5 p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
  <div class="flex items-center justify-between mb-4">
      <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">My Activity</h5>
  
  </div>
  <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
          <li *ngFor="let data of myActivities" class="py-3 sm:py-4">
              <div class="flex items-center">
                 
                  <div class="flex-1 min-w-0 ms-4">
                      <!-- <p class="text-sm font-medium text-gray-900 truncate dark:text-white">{{data.projectName}}</p> -->
                      <!-- <p class="text-sm text-gray-500 truncate dark:text-gray-400">{{data.taskName}}</p> -->
                  <!-- </div>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                        <div class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> Closed
                    </div>
                </td>
              </div>
          </li>
               
      </ul>
  </div>
</div>  -->


<div class="w-2/5 p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
  <div class="flex items-center justify-between mb-4">
      <h5 class="text-xl font-bold leading-none text-[#0f3d61] dark:text-white">Activities</h5>
     
  </div>
  <div class="flow-root">
      <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700"> 

          <li *ngFor="let data of combinedData" class="py-3 sm:py-4">
            <div *ngFor="let act of data.activity
            " class="flex items-center">
                <div class="flex-shrink-0">
                    <img class="w-8 h-8 rounded-full" src={{data.picture}} alt="image">
                </div>
                <div class="flex-1 min-w-0 ms-4">
                    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">{{data.fname}} {{data.lname}}</p>
                    <p class="text-sm text-gray-500 truncate dark:text-gray-400">{{act.projectName}}</p>
                </div>
                <td class="px-6 py-4">
                  <div class="flex items-center">
                    <div *ngIf="act.status === 'N'" class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> 
                    <div *ngIf="act.status === 'C'" class="h-2.5 w-2.5 rounded-full bg-red-500 me-2"></div> 
                    <span *ngIf="act.status === 'N'">Open</span>
                    <span *ngIf="act.status === 'C'">Closed</span>
                
                     </div>
              </td>

            </div>
        </li>
                  
              
           
      </ul>
  </div>
</div>




          <div class="w-5/6 p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
                    <div class="relative overflow-x-auto">
               <div class="flex items-center justify-between mb-4">
                        <h5 class="text-xl font-bold leading-none text-[#0f3d61] dark:text-white py-4">Upcoming Days</h5>
                        
                    </div>
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Role
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Date
                                </th>
                            </tr>
                        </thead>
                        <tbody >

                            <ng-container *ngFor="let data of combinedData; let i = index">
                                <tr *ngIf="i < 5" class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{data.fname}} {{data.lname}}
                                  </th>
                                  <td class="px-6 py-4">
                                    {{data.emplJIfo.jobName}}
                                  </td>
                                  <td class="px-6 py-4">
                                    <div *ngFor="let leav of data.leaves">
                                      {{formatDate(leav.date)}}
                                    </div>
                                  </td>
                                </tr>
                              </ng-container>
                          
                          
                        </tbody>
                    </table>
                </div>
                  </div>
</div>

